Django==2.1.2
djangorestframework==3.8.2
psycopg2==2.7.5
django-crispy-forms==1.7.2
django-gravatar2==1.4.2
gunicorn==19.9.0
whitenoise==4.0
django-filter==2.0.0
Pillow==5.2.0
django-ratelimit==1.1.0
django-cors-headers
django-environ
